.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.label {
  fill: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.scroller {
  margin: 0 auto;
  height: inherit;
  width: 100%;
  max-width: 1500px;
  overflow: auto;
}

LineChart {
  width: 100%
}

.modal-dialog {
  max-width: none !important;
}

.jumbotron>div {
  margin: auto;
  max-width: 1500px;
}

.loadedContent {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  overflow: auto;
  margin-bottom: 2rem;
}

.Dashboard .loadedContent {
  max-width: 100%;
  overflow-x: hidden;
}

.BetterJumbotron{
  padding: 2px !important;
  margin: 2px !important;
}

#root {
  overflow: auto;
}

@media (max-width: 600px) { 

  .GraphContainer{
    width: 100% !important;
    height: 200px !important;
  }
  .Footer{
    display: none;
  }


 }